<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/~{{user.username}}/">
    <title>{{#if isPost}}{{article.title}}{{/if}} ~{{user.username}}</title>
    <link href="/~{{user.username}}/feed" rel="alternate" type="application/atom+xml" />
    <link href="data:image/gif;base64,R0lGODlhEAAQAPABAA0NDf///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAEAAQAAACF4SPqcvtn0KARlJgaYb7dfc14UWW5lEAADs=" rel="icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {
      font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
      padding: 1ch;
      margin: 0;
    }
    body .username:after {
      content: ' ✐';
    }
    body.index .username:after {
      content: ' ⌂';
    }
    main, footer, body > header {
      max-width: 64ch;
      margin: auto;
    }
    main {
      box-sizing: border-box;
      padding: 1ch 0 2ch;
      min-height: calc(100vh - 12ch);
    }
    h1 {
      font-size: 1em;
      font-weight: 700;
    }
    h1, .timestamp {
      margin: 0;
    }
    a {
      color: black;
      background-image: linear-gradient(to bottom,black 75%,black 75%);
      text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 96%;
      text-decoration: none;
    }
    .heading {
      margin: 0 0 2ch;
      padding: 0;
    }
    article p {
      white-space: pre-wrap;
      margin: 1.3em 0;
    }
    .username a {
      text-shadow: none;
      background-image: none;
      background-color: #333;
      color: #EEE;
      padding: 1ch;
      border: 0;
    }
    footer a {
      color: lightgrey;
      background-image: linear-gradient(to bottom,lightgrey 75%,lightgrey 75%);
    }
    @media screen and (min-width:1367px) {
      body {
        font: 20px/1.75em 'Roboto Mono';
      }
    }
    </style>
  </head>
  <body {{#if isIndex}}class="index"{{/if}}>
    <header>
      <p class="username"><a href="./" target="_self">{{user.username}}</a></p>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer><a href="/" style="border:0">{{constants.brand}}</a></footer>
  </body>
</html>
