<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{constants.brand}} - blogging from the command line</title>
    <meta charset="utf-8" />
    <link href="data:image/gif;base64,R0lGODdhAQABAPAAAAAAAAAAACH/C1hNUCBEYXRhWE1QAz94cAAsAAAAAAEAAQBAAgJEAQA7" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {
      font: 16px/1.5em 'Roboto Mono', Monaco, "Courier New", Courier, monospace;
      padding: 0 1ch;
      margin: 0;
    }
    section {
      width: 100%;
      max-width: 60ch;
      margin: auto;
    }
    h1 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0;
    }
    #lead h1 {
      margin-top: 3ch;
    }
    a {
      color: blue;
      background-image: linear-gradient(to bottom,blue 75%,blue 75%);
      text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 99.9%;
      text-decoration: none;
    }
    article header {
      margin-bottom: 2ch;
      padding: 0;
    }
    .prompt {
      color: lightgrey;
    }
    .prompt:after {
      content: '$ ';
    }
    .comment {
      color: grey;
      text-transform: uppercase;
      font-weight: bold;
    }
    .output {
      color: lightgrey;
    }
    hr {
      border: 0;
      border-bottom: 4px solid #EEE;
      margin: 4ch 0;
    }
    section {
      position: relative;
      padding: 2ch;
      display: table;
    }
    section:first-of-type:after {
      font-size: 1.5em;
      content: '';
      display: block;
      position: absolute;
      bottom: 1em;
      right: 50%;
      color: #999;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
    .name a {
      background-image: none;
      text-shadow: none;
      background-color: #333;
      color: #EEE;
      padding: 1ch;
      border: 0;
    }
    .contrast {
      background-color: #F5F5F5;
    }
    .contrast a {
      text-shadow: -1px -1px 0 #F5F5F5,1px -1px 0 #F5F5F5,-1px 1px 0 #F5F5F5,1px 1px 0 #F5F5F5;
    }
    #support p {
      margin-top: 0;
    }
    @media screen and (min-width:1024px) {
      body {
        font: 20px/1.75em 'Roboto Mono';
      }
    }
    </style>
  </head>
  <body>

    <section id="lead">
      <div class="cell">
        <header>
          <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
          <h1>BLOG FROM THE COMMAND LINE, IN PLAIN TEXT</h1>
        </header>
        <p>
          Simple and <a href="https://www.eff.org/issues/anonymity">anonymous</a>.
        </p>
      </div>
    </section>

    <section id="install" class="contrast">
      <div class="cell">
        <header><h1>INSTALL</h1></header>
        <p><a class="download" href="{{downloadPath}}">Download Client ({{latest}})</a></p>
        <span class="comment"># OR DOWNLOAD AND INSTALL ALIAS IN CLI</span><br>
        <span class="prompt"></span>curl -# {{constants.protocol}}://{{constants.hostname}}{{downloadPath}} > ~/blog.sh<br>
        <span class="prompt"></span>echo "alias blog=~/./blog.sh" >> ~/.bashrc<br>
        <span class="prompt"></span>blog help
        <hr>
        <p><span style="color:darkgrey">MD5 (blog-0.1.1.sh) = 0ddcc324a150ef553111ac3376b53471</span></p>
      </div>
    </section>

    <section id="register">
      <div class="cell">

        <header><h1>USAGE</h1></header>
        <p>
          <span class="comment"># Registration</span><br>
          <span class="prompt"></span>blog register edward
        </p>
        <p>
          <span class="comment"># Logging In</span><br>
          <span class="prompt"></span>blog login edward
        </p>

        <hr>

        <p>
          <span class="comment"># Create New Article</span><br>
          <span class="prompt"></span>blog write
        </p>

        <p>
          <span class="comment"># Browse Drafts</span><br>
          <span class="prompt"></span>blog drafts<br>
          <span class="output">4 — WORKING TITLE - October 2&hellip;<br>
          3 — ANOTHER ARTICLE - October&hellip;</span>
        </p>

        <p>
          <span class="comment"># Browse Published</span><br>
          <span class="prompt"></span>blog posts<br>
          <span class="output">2 — SECOND TITLE - October 17&hellip;<br>
          1 — FIRST ARTICLE - October 1&hellip;</span>
        </p>

        <p>
          <span class="comment"># Edit Existing Draft</span><br>
          <span class="prompt"></span>blog write 3
        </p>

        <p>
          <span class="comment"># Continue Last Draft</span><br>
          <span class="prompt"></span>blog continue</code>
        </p>

        <hr>

        <p>
          <span class="comment"># Publish/Unpublish Article</span><br>
          <span class="prompt"></span>blog publish 3<br>
          <span class="prompt"></span>blog unpublish 3
        </p>

        <p>
          <span class="comment"># Delete Article</span><br>
          <span class="prompt"></span>blog delete 3</code>
        </p>

      </div>
    </section>

    <section id="support" class="contrast">
      <div class="cell">

        <p>This service is free to reinforce anonymity, it does cost money to run this, approximately $240 a year.</p>
        <h1>SUPPORT ANONYMOUSLY THROUGH <a href="#" target="_blank">♥︎GRATIPAY</a></h1>

      </div>
    </section>

    <section>
      <div class="cell">
        <header>
          <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
        </header>
        <p>An antithesis to all the blogging platforms that overstate their "simplicity".</p>

      </div>
    </section>

<script>
function runScroll(sel) {
  scrollTo(document.body, getOffset(document.querySelector(sel)), 300);
}

function scrollTo(element, to, duration) {
  if (duration <= 0) return;
  var difference = to - element.scrollTop;
  var perTick = difference / duration * 10;

  setTimeout(function() {
    element.scrollTop = element.scrollTop + perTick;
    if (element.scrollTop === to) return;
    scrollTo(element, to, duration - 10);
  }, 10);
}
function getOffset(element) {
  var bodyRect = document.body.getBoundingClientRect(),
  elemRect = element.getBoundingClientRect(),
  offset   = elemRect.top - bodyRect.top;
  return offset;
}
</script>
  </body>
</html>
