{{#each articles}}
  <article>
    <header class="heading">
      <h1><a href="./{{slug}}-{{_id}}">{{title}}</a></h1>
      <p class="timestamp" title="{{published_ts}}">{{shortDate published_ts}}</p>
    </header>
    </div>
  </article>
{{/each}}
