{{#each articles}}
  <article>
    <header class="heading">
      <h1><a href="./{{slug}}-{{_id}}">{{title}}</a></h1>
      <p class="timestamp" title="{{published_ts}}">{{shortDate published_ts}}</p>
    </header>
    </div>
  </article>

  {{#if @root.showNav}}
  {{#if @last}}
  <nav>
    <a href="./?before={{getTime published_ts}}">Older</a>
  </nav>
  {{/if}}
  {{/if}}

{{/each}}
