<article class="{{format}}">
  <header class="heading">
    <h1>{{article.title}}</h1>
    <p class="timestamp" title="{{article.published_ts}}">{{shortDate article.published_ts}}</p>
    <hr>
  </header>
  {{{article.content}}}
</article>
